.navbarContainer
{
    /* position: fixed; */
    position: sticky;
    top: 0;
    background-color: rgba(27, 28, 29, 0.75);
    display: flex;
    margin: auto;
    height: 5vh;
    min-height: 30px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: (5px);
}
.navbarLeft
{
    width: 30%;
    height: auto;

    padding-left: 10px;
    text-align: left;
    margin: auto;
    
}
.navbarRight
{
    height: auto;
    display: flex;
    gap: 10%;
    width: 70%;
    margin: auto;
    padding-left: 5%;
}
.homeButton
{
    
}
.loginButton
{
}